.add-to-cart {
  width: 320px;
  border: 1px solid #C6C6C6;
  box-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25);
  background-color: @color-white;
  padding-bottom: 46px;
}

.add-to-cart__form {
  width: 260px;
  margin: 0 auto;
  padding: 0;
}

.add-to-cart__options {
  margin-bottom: 31px;
}

.add-to-cart__add-button {
  width: 100%;
  margin: 0 auto;
}
