.add-to-cart {
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  background-color: @color-white;
}

.add-to-cart__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.add-to-cart__form {
  margin: 0 auto;
  padding: 0;
}

.add-to-cart__add-button {
  width: 100%;
  margin: 0 auto;
}
