.categories {
  width: @mobile-width;
  margin: 0 auto;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    position: relative;
    top: -119px;
    width: @tablet-width;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    top: -119px;
  }
}

.categories__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    grid-template-areas: "left right";
    width: 87%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 91.4%;
  }
}

.categories__item {
  margin: 0;
  padding: 0;
}

.categories__item--left {
  background-color: @color-aquamarine;

  @media (min-width: @tablet-width) {
    grid-area: left;
  }
}

.categories__item--left:active,
.categories__item--left:hover,
.categories__item--left:focus {
  background-color: @color-aquamarine-hover;
}

.categories__item--right {
  background-color: @color-dark-green;

  @media (min-width: @tablet-width) {
    grid-area: right;
  }
}

.categories__item--right:active,
.categories__item--right:hover,
.categories__item--right:focus {
  background-color: @color-dark-green-hover;
}

.categories__link {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 26px;
    padding-left: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 37px;
  }
}

.categories__link:hover,
.categories__link:focus {
  transform: translateY(-5px);
}

.categories__link--left:active,
.categories__link--left:hover,
.categories__link--left:focus {
  background-color: @color-aquamarine-hover;
}

.categories__link--right:active,
.categories__link--right:hover,
.categories__link--right:focus {
  background-color: @color-dark-green-hover;
}

.categories__link:hover .categories__img,
.categories__link:focus .categories__img {
  opacity: 0.7;
}

.categories__link:active .categories__img {
  opacity: 0.3;
}

.categories__img path {
  fill: @category-icon-green;
}

.categories__title {
  display: block;
  width: 130px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @color-white;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.categories__img {
  display: inline-block;
  vertical-align: center;
  opacity: 0.5;
}

.categories__img--interior {
  position: absolute;
  top: 23px;
  right: 36px;
  fill: @category-icon-green;

  @media (min-width: @tablet-width) {
    top: 30px;
    right: 33px;
  }

  @media (min-width: @desktop-width) {
    right: 36px;
  }
}

.categories__img--toy {
  position: absolute;
  top: 21px;
  right: 27px;
  fill: @category-icon-green;

  @media (min-width: @tablet-width) {
    top: 32px;
    right: 31px;
  }

  @media (min-width: @desktop-width) {
    right: 35px;
  }
}
