.contacts {
  position: relative;
  padding-top: 7%;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 3%;

  @media (min-width: @for-mobile-vw) {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 54px;
    padding-bottom: 57px;
  }
}

.contacts__title {
  margin-bottom: 27px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @for-mobile-vw) {
    margin: 0;
    padding-top: 0;
    padding-right: 6.51%;
    padding-bottom: 49px;
    padding-left: 6.6%;
    font-size: 43px;
    line-height: 50px;
  }
}

.contacts__title::after {
  @media (min-width: @for-mobile-vw) {
    position: absolute;
    right: 54px;
    top: 31px;
    display: block;
    content: "";
    width: 47px;
    height: 81px;
    background-image: url("@{img-path}/icon-flag.svg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.contacts__list {
  margin: 0;
  margin-bottom: 12%;
  padding: 0;
  list-style-type: none;

  @media (min-width: @for-mobile-vw) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 0;
    padding-right: 6.51%;
    padding-bottom: 48px;
    padding-left: 6.6%;
  }
}

.contacts__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: @color-dark-grey;

  @media (min-width: @for-mobile-vw) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__item:first-child {
  @media (min-width: @for-mobile-vw) {
    margin-right: 45px;
  }
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__dt {
  display: block;
  margin-right: 29px;
}

.contacts__dd {
  display: block;
}

.contacts__dd--link {
  position: relative;
  display: block;
  color: @color-dark-grey;
}

.contacts__dd--link::after {
  position: absolute;
  top: 26px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: @color-link-underline;
}

.contacts__dd--link:hover,
.contacts__dd--link:focus {
  color: @color-dark-green-hover;
}

.contacts__dd--link:active {
  color: @color-dark-green-hover;
}

.contacts__dd--link:active::after {
  content: none;
}

.contacts__link {
  width: 260px;
  margin: 0 auto;
  margin-top: 15%;
  margin-bottom: 11%;

  @media (min-width: @for-mobile-vw) {
    width: 230px;
    margin: 0 auto;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: @color-light-grey;

  @media (min-width: @for-mobile-vw) {
    margin-bottom: 55px;
  }
}
