.contacts {
  position: relative;
  width: @mobile-width;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0;
    padding-top: 77px;
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-rows: 457px;
    grid-template-columns: 1fr 527px;
    grid-template-areas: "left right";
    align-items: start;
    width: @desktop-content-width;
    padding-left: 76px;
    padding-top: 93px;
    padding-bottom: 105px;
  }
}

.contacts__title {
  margin-bottom: 27px;
  padding-left: 9%;
  padding-right: 9%;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 49px;
    padding-left: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-area: left;
    margin: 0;
    margin-top: 80px;
    margin-left: 98px;
    padding: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__title::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    right: 53px;
    top: 54px;
    display: block;
    content: "";
    width: 47px;
    height: 81px;
    background-image: url("@{img-path}/icon-flag.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.contacts__title::before {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 156px;
    left: 63px;
    display: block;
    content: "";
    width: 47px;
    height: 81px;
    background-image: url("@{img-path}/icon-flag.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.contacts__list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  padding-left: 9%;
  padding-right: 9%;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 0;
    padding-right: 6.51%;
    padding-bottom: 48px;
    padding-left: 6.6%;
  }

  @media (min-width: @desktop-width) {
    grid-area: left;
    align-self: center;
    margin: 0;
    padding: 0;
    padding-left: 98px;
    padding-top: 34px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__item:first-child {
  @media (min-width: @tablet-width) {
    margin-right: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 25px;
  }
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__dt {
  display: block;
  margin-right: 32px;

  @media (min-width: @tablet-width) {
    margin-right: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 25px;
  }
}

.contacts__dd--link {
  position: relative;
  display: block;
  color: @color-dark-grey;

  @media (min-width: @desktop-width) {
    margin-right: 25px;
  }
}

.contacts__dd {
  display: block;
}

.contacts__dd--link::after {
  position: absolute;
  top: 27px;
  left: 0;
  bottom: 30px;
  content: "";
  width: 99%;
  height: 1px;
  background-color: @color-link-underline;

  @media (min-width: @tablet-width) {
    top: 29px;
    left: -1px;
    width: 99.7%;
  }

  @media (min-width: @desktop-width) {
    top: 35px;
    width: 98%;
  }
}

.contacts__dd--link:hover,
.contacts__dd--link:focus {
  color: @color-dark-green-hover;
}

.contacts__dd--link:active {
  color: @color-dark-green-hover;
}

.contacts__dd--link:active::after {
  content: none;
}

.contacts__link {
  width: 260px;
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 99px;
    grid-area: left;
    align-self: end;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 454px;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("@{img-path}/map-mobile@1x.jpg");
  background-color: @color-light-grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("@{img-path}/map-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    height: 457px;
    margin-bottom: 56px;
    background-image: url("@{img-path}/map-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("@{img-path}/map-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    width: 527px;
    height: 427px;
    margin: 0;
    padding: 0;
    grid-area: right;
    background-image: url("@{img-path}/map-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("@{img-path}/map-desktop@2x.jpg");
    }
  }
}
