.htmlacademy {
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 15px;
  }
}

.htmlacademy__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.htmlacademy__desc {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  margin-right: 27px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: @color-black;
}

.htmlacademy__logo {
  display: block;
  fill: @color-aquamarine;

  @media (min-width: @tablet-width) {
    margin-top: 4px;
    padding: 0;
  }
}

.htmlacademy__link:hover .htmlacademy__logo {
  fill: @color-dark-green-hover;
}

.htmlacademy__link:active .htmlacademy__logo {
  fill: @color-dark-green-hover;
  opacity: 0.3;
}
