.logo {
  display: block;
  padding: 0;
}

.logo:hover,
.logo:focus {
  opacity: @opacity-hover;
}

.logo:active {
  opacity: @opacity-active;
}

.logo__img {
  width: 85.589px;
  height: 35.034px;

  @media (min-width: @tablet-width) {
    width: 112.389px;
    height: 46.087px;
  }

  @media (min-width: @desktop-width) {
    width: 148.051px;
    height: 72.707px;
  }
}

.logo__img-footer {
  width: 101.74px;
  height: 34.19px;
}

.logo__img-footer:hover,
.logo__img-footer:focus {
  fill: @color-dark-green-hover;
}

.logo__img-footer:active {
  fill: @color-dark-green-hover;
  opacity: 0.3;
}
