.main-nav__list {
  @media (min-width: @for-mobile-vw) {
    display: grid;
    grid-template-rows: repeat(2, max-conten);
    grid-template-columns: 1fr 1fr 82px 1.5fr;
    grid-row-gap: 16%;
    grid-template-areas:
      ". . search cart"
      "catalog form . delivery";
  }
}
