.main-nav {
  width: 100%;
}

.main-nav__list {
  @media (min-width: @for-mobile-vw) {
    display: grid;
    grid-template-rows: 89px min-content;
    grid-template-columns: 1fr 1fr 82px 1.5fr;
    grid-template-areas:
      ". . search cart"
      "catalog form . delivery";
    align-items: center;
  }

  @media (min-width: @for-tablet-vw) {
    display: grid;
    grid-template-rows: 89px min-content;
    grid-template-columns: repeat(2, max-content) 1fr repeat(2, max-content);
    grid-template-areas:
      "catalog form . search cart"
      "arrivals sale . . .";
    align-items: center;

    outline: 2px solid rgb(154, 242, 30);
    outline-offset: -1px;
  }
}
