.main-nav {
  width: 100%;
}

.main-nav__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 89px min-content min-content;
    grid-template-columns: 1fr 1fr 82px 1.5fr;
    grid-template-areas:
      ". sale search cart"
      "catalog form . delivery"
      "arrivals . . .";
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-rows: 89px min-content;
    grid-template-columns: repeat(2, max-content) 1fr repeat(2, max-content);
    grid-template-areas:
      "catalog form . search cart"
      "arrivals sale . . .";
    align-items: center;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 31px;
  display: block;
  width: 21px;
  height: 21px;
  border: 0;
  background-color: @color-white;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;
  width: 20px;
  height: 2px;
  background-color: @color-black;
  box-shadow: 0 6px  0 0 @color-black, 0 12px 0 0 @color-black;
}
