.page-footer {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: @color-light-grey;

  @media (min-width: @tablet-width) {
    padding-top: 37px;
    padding-bottom: 40px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  width: @mobile-width;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: @tablet-width;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.page-footer__logo {
  position: absolute;
  opacity: 0;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    position: relative;
    top: 2px;
    justify-self: flex-start;
    opacity: unset;
  }

  @media (min-width: @desktop-width) {
    top: 3px;
  }
}

.page-footer__logo--unlink {
  cursor: unset;
}

.page-footer__icons {
  position: relative;
  padding-top: 1px;

  @media (min-width: @tablet-width) {
    left: 37px;
  }

  @media (min-width: @desktop-width) {
    left: 37px;
  }
}
