.page-header {
  position: relative;
  z-index: 5;
  width: @mobile-width;
  margin: 0 auto;
  padding-top: 16px;
  box-shadow: 0 1px 0 @color-light-grey, inset 0 1px 0 @color-light-grey;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    max-height: 88px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.page-header__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  margin-left: auto;
}

.page-header__note {
  position: absolute;
  opacity: 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 109px;
    right: 50px;
    color: @color-dark-grey;
    opacity: unset;
  }
}
