.page-header {
  position: relative;
  z-index: 999;
  margin-bottom: 1px;
  padding-top: 7%;
  box-shadow: 0 1px 0 @color-grey, inset 0 1px 0 @color-grey;

  @media (min-width: @for-mobile-vw) {
    max-height: 88px;
    padding-top: 0;
    padding-left: 6.51%;
    padding-right: 6.51%;
  }
}

.page-header__logo {
  margin: 0 auto;
  margin-bottom: 7%;
  cursor: pointer;

  @media (min-width: @for-mobile-vw) {
    position: absolute;
    margin-top: 26px;
  }
}

.page-header__logo svg {
  width: 86px;
  height: 35px;
}

.page-header__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  margin-left: auto;
}

.page-header__note {
  @media (max-width: @for-mobile-vw) {
    position: absolute;
    opacity: 0;
  }

  @media (min-width: @for-mobile-vw) {
    position: absolute;
    top: 109px;
    right: 50px;
    color: @color-dark-grey;
  }
}
