.page-header {
  position: relative;
  z-index: 999;
  padding-top: 22px;
  box-shadow: 0 1px 0 @color-light-grey, inset 0 1px 0 @color-light-grey;

  @media (min-width: @tablet-width) {
    max-height: 88px;
    padding-top: 0;
    padding-left: 6.51%;
    padding-right: 6.51%;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    padding-left: 4.4%;
    padding-right: 4.6%;
  }
}

.page-header__logo {
  margin: 0 auto;
  margin-bottom: 22px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    position: absolute;
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 42%;
  }
}

.page-header__logo svg {
  width: 86px;
  height: 35px;
}

.page-header__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  margin-left: auto;
}

.page-header__note {
  position: absolute;
  opacity: 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 109px;
    right: 50px;
    color: @color-dark-grey;
    opacity: unset;
  }
}
