.production-process {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: @mobile-content-width;
  margin: 0 auto;
  margin-bottom: 58px;
  padding-bottom: 32px;
  border: 1px solid @color-grey;

  @media (min-width: @tablet-width) {
    width: @tablet-content-width;
    margin-bottom: 18px;
    padding: 0;
    padding-bottom: 45px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: @desktop-content-width;
    margin-bottom: 105px;
    padding: 0;
  }
}

.production-process__video-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.production-process__desc-wrapper {
  @media (min-width: @tablet-width) {
    border: 1px solid @color-grey;
  }

  @media (min-width: @desktop-width) {
    width: 367px;
    padding-top: 56px;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 60px;
  }
}

.production-process__desc-wrapper:hover,
.production-process__desc-wrapper:focus {
  border: 1px solid @color-grey;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.production-process__desc-wrapper:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.production-process__title {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 34.61%;
  padding-bottom: 25px;
  padding-right: 1.92%;
  order: -1;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    position: relative;
    order: 0;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-left: 16%;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-left: 19px;
    padding-right: 19px;
  }
}

.production-process__title::before {
  position: absolute;
  top: 35px;
  left: 33px;
  display: block;
  content: "";
  width: 32px;
  height: 22px;
  background-image: url("@{img-path}/icon-video.svg");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: @tablet-width) {
    top: 37px;
    left: 41px;
  }

  @media (min-width: @desktop-width) {
    top: -9px;
    left: 18px;
  }
}

.production-process__video-thumb {
  width: 260px;
  height: 150px;
  display: block;
  margin: 0;
  margin-top: 96px;
  padding: 0;
  background-color: @color-light-grey;

  @media (min-width: @tablet-width) {
    order: -1;
    width: 668px;
    height: 455px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 682px;
  }
}

.production-process__play-button {
  position: absolute;
  border: 0;
  background-image: url("@{img-path}/icon-play.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  width: 101px;
  height: 77px;
  cursor: pointer;
}

.production-process__play-button:hover,
.production-process__play-button:focus {
  width: 121px;
  height: 92px;
}

.production-process__play-button:active {
  width: 81px;
  height: 62px;
  opacity: 0.3;
}

.production-process__desc {
  margin-top: 34px;
  margin-bottom: 42px;
  padding-left: 13.07%;
  padding-right: 11.53%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 39px;
    padding-right: 30px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 27px;
    margin-bottom: 51px;
    padding: 0;
    padding-left: 17px;
  }
}

.production-process__link {
  width: 75%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 87.42%;
    margin-bottom: 46px;
  }


  @media (min-width: @desktop-width) {
    width: 84%;
    margin-right: 25px;
  }
}
