.product-card {
  position: relative;
  background: @color-white;
  border: 1px solid @color-grey;

  @media (min-width: @tablet-width) {
    border: 0;
  }
}

.product-card__img {
  display: block;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 195px;
  background-color: @color-grey;

  @media (min-width: @tablet-width) {
    width: 335px;
    height: 335px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product-card__link {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 28px;
  padding-right: 26px;
  padding-bottom: 26px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 9.3%;
    padding-bottom: 25px;
    padding-left: 9.3%;
    border: 1px solid @color-grey;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    padding-left: 27px;
  }
}

.product-card__link:hover,
.product-card__link:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product-card__link:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.product-card__title {
  display: block;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 6px;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 27px;
    padding-bottom: 6px;
    font-size: 20px;
  }
}

.product-card__desc {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  padding-bottom: 17px;
  border-bottom: 1px solid @color-grey;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    font-size: 15px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}

.product-card__price {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: auto;
    padding: 0;
    padding-top: 24px;
    border-top: 1px solid @color-grey;
    font-size: 17px;
  }
}

.product-card__button {
  position: absolute;
  bottom: 33px;
  right: 26px;
  width: 20px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: @color-white;
  background-image: url("@{img-path}/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    right: 31px;
  }
}
