.textarea {
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-left: 167px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.textarea__input {
  width: 100%;
  min-height: 142px;
  margin: 0;
  padding: 17px;
  border: 2px solid @color-dark-grey;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: @color-black;
  background-color: @color-white;

  @media (min-width: @tablet-width) {
    padding: 16px;
    font-size: 19px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px;
  }
}

.textarea__input::placeholder {
  opacity: 0.3;
}

.textarea__input:hover,
.textarea__input:focus {
  outline: none;
  border: 2px solid @color-link-underline;
}
