@charset "UTF-8";

@import "variables.less";
@import "visually-hidden.less";

/* Глобальные стили */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
