/* Цвета */
@color-white: white;
@color-black: black;
@shadow-grey: #ECECEC;
@color-light-grey: #F1F1F1;
@color-aquamarine: #63D1BB;
@color-aquamarine-hover: #59D5BC;
@color-dark-green: #56C3B2;
@color-dark-green-hover: #46C1AE;
@category-icon-green: #149080;

/* Поведение */
@opacity-hover: 0.6;
@opacity-active: 0.3;

/* Пути */
@img-path: "../img";
