/* Цвета */
@color-white: white;
@color-white-opacity: rgba(255, 255, 255, 0.3);
@color-black: black;
@color-grey: #ECECEC;
@color-dark-grey: #444444;
@color-light-grey: #F1F1F1;
@color-aquamarine: #63D1BB;
@color-aquamarine-hover: #59D5BC;
@color-dark-green: #56C3B2;
@color-dark-green-hover: #46C1AE;
@category-icon-green: #149080;
@color-link-underline: #62D1BA;

/* Поведение */
@opacity-hover: 0.6;
@opacity-active: 0.3;

/* Пути */
@img-path: "../img";
